body {
    background-color: deepskyblue;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: larger;
    text-shadow: 1px 1px black;
}

button, input {
    background-color: deepskyblue;
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
    text-shadow: 1px 1px black;
}

#calcText {
    font-size: x-large;
}

.header {
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}